@import '../../../variables.less';

.search-container {
  margin-bottom: 80px;
}

.content-container{
  .content{
    &__item{
      margin-bottom: 30px;
    }
    &__category-title{
      display: flex;
      font-weight: @bold-big;
      &::before {
        content: '|';
        display: block;
        margin-right: 10px;
      }
    }
  }
}
